@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Reports</h1>

<p>
    Click to download a report.  Reports are delivered in simple CSV format.  They may take several minutes to run.
</p>

<ul class="reports">
    <li><a href="AllCourses">All Courses</a></li>
    <li><a href="CanvasStatus">Canvas Status</a></li>
    <li><a href="UnconnectedMeetings">Unconnected Meetings</a></li>
    <li><a href="ZoomOccurrences">Zoom Occurrences</a></li>
</ul>

@{
}
