@model ZoomConnect.Web.ViewModels.BannerOptionsViewModel

@{
    ViewData["Title"] = "Setup";
}

<h1>Setup</h1>

<form asp-controller="Setup" asp-action="Index" method="POST">


    <fieldset>
        <legend>Banner</legend>

        <div class="form-group">
            <label class="col-md-4" asp-for="Instance"></label>
            <input class="col-md-4" asp-for="Instance" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="Username"></label>
            <input class="col-md-4" asp-for="Username" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="Password"></label>
            <input class="col-md-4" type="password" asp-for="Password" />
        </div>

        @await Html.PartialAsync("_SetupRequirements", Model.FailedBannerRequirements)
    </fieldset>

    <div class="form-group">
        <label class="col-md-4" asp-for="CurrentTerm"></label>
        <input class="col-md-4" asp-for="CurrentTerm" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="CurrentSubject"></label>
        <input class="col-md-4" asp-for="CurrentSubject" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="TermStart"></label>
        <input class="col-md-4" asp-for="TermStart" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="TermEnd"></label>
        <input class="col-md-4" asp-for="TermEnd" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="DownloadDirectory"></label>
        <input class="col-md-4" asp-for="DownloadDirectory" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ProfilePhotoDirectory"></label>
        <input class="col-md-4" asp-for="ProfilePhotoDirectory" />
    </div>

    <fieldset>
        <legend>Zoom</legend>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomApiKey"></label>
            <input class="col-md-4" type="password" asp-for="ZoomApiKey" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomApiSecret"></label>
            <input class="col-md-4" type="password" asp-for="ZoomApiSecret" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomRequireMeetingAuthentication"></label>
            <input class="col-md-4" asp-for="ZoomRequireMeetingAuthentication" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomAuthenticationOptionId"></label>
            <input class="col-md-4" asp-for="ZoomAuthenticationOptionId" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomAuthenticationDomains"></label>
            <input class="col-md-4" asp-for="ZoomAuthenticationDomains" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ZoomAlternateHosts"></label>
            <input class="col-md-4" asp-for="ZoomAlternateHosts" />
        </div>

        @await Html.PartialAsync("_SetupRequirements", Model.FailedZoomRequirements)
    </fieldset>

    <fieldset>
        <legend>Canvas</legend>

        <div class="form-group">
            <label class="col-md-4" asp-for="UseCanvas"></label>
            <input class="col-md-4" asp-for="UseCanvas" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="CanvasAccessToken"></label>
            <input class="col-md-4" type="password" asp-for="CanvasAccessToken" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="CanvasAccountId"></label>
            <input class="col-md-4" asp-for="CanvasAccountId" />
        </div>

        @await Html.PartialAsync("_SetupRequirements", Model.FailedCanvasRequirements)
    </fieldset>

    <fieldset>
        <legend>Email Notifications</legend>

        <div class="form-group">
            <label class="col-md-4" asp-for="SmtpHost"></label>
            <input class="col-md-4" asp-for="SmtpHost" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="SmtpUsername"></label>
            <input class="col-md-4" asp-for="SmtpUsername" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="SmtpPassword"></label>
            <input class="col-md-4" asp-for="SmtpPassword" type="password" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="ParticipantReportCcList"></label>
            <input class="col-md-4" asp-for="ParticipantReportCcList" />
        </div>

        @await Html.PartialAsync("_SetupRequirements", Model.FailedEmailRequirements)
    </fieldset>

    <fieldset>
        <legend>Mediasite</legend>

        <div class="form-group">
            <label class="col-md-4" asp-for="UseMediasite"></label>
            <input class="col-md-4" asp-for="UseMediasite" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteEndpoint"></label>
            <input class="col-md-4" asp-for="MediasiteEndpoint" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteRootFolder"></label>
            <input class="col-md-4" asp-for="MediasiteRootFolder" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteUsername"></label>
            <input class="col-md-4" asp-for="MediasiteUsername" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasitePassword"></label>
            <input class="col-md-4" asp-for="MediasitePassword" type="password" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteApiKey"></label>
            <input class="col-md-4" asp-for="MediasiteApiKey" type="password" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasitePlayerId"></label>
            <input class="col-md-4" asp-for="MediasitePlayerId" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteTemplateId"></label>
            <input class="col-md-4" asp-for="MediasiteTemplateId" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteUploadDirectory"></label>
            <input class="col-md-4" asp-for="MediasiteUploadDirectory" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteReportToEmail"></label>
            <input class="col-md-4" asp-for="MediasiteReportToEmail" />
        </div>

        <div class="form-group">
            <label class="col-md-4" asp-for="MediasiteReportReplyToEmail"></label>
            <input class="col-md-4" asp-for="MediasiteReportReplyToEmail" />
        </div>

        @await Html.PartialAsync("_SetupRequirements", Model.FailedMediasiteRequirements)
    </fieldset>

    <div class="form-group">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</form>
