@model ZoomConnect.Web.ViewModels.BannerOptionsViewModel

@{
    ViewData["Title"] = "Setup";
}

<h1>Setup</h1>

<form asp-controller="Setup" asp-action="Index" method="POST">

    <div class="form-group">
        <label class="col-md-4" asp-for="Instance"></label>
        <input class="col-md-4" asp-for="Instance" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="Username"></label>
        <input class="col-md-4" asp-for="Username" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="Password"></label>
        <input class="col-md-4" type="password" asp-for="Password" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="CurrentTerm"></label>
        <input class="col-md-4" asp-for="CurrentTerm" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="TermStart"></label>
        <input class="col-md-4" asp-for="TermStart" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="TermEnd"></label>
        <input class="col-md-4" asp-for="TermEnd" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="CurrentSubject"></label>
        <input class="col-md-4" asp-for="CurrentSubject" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomApiKey"></label>
        <input class="col-md-4" type="password" asp-for="ZoomApiKey" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomApiSecret"></label>
        <input class="col-md-4" type="password" asp-for="ZoomApiSecret" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomRequireMeetingAuthentication"></label>
        <input class="col-md-4" asp-for="ZoomRequireMeetingAuthentication" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomAuthenticationOptionId"></label>
        <input class="col-md-4" asp-for="ZoomAuthenticationOptionId" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomAuthenticationDomains"></label>
        <input class="col-md-4" asp-for="ZoomAuthenticationDomains" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ZoomAlternateHosts"></label>
        <input class="col-md-4" asp-for="ZoomAlternateHosts" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="UseCanvas"></label>
        <input class="col-md-4" asp-for="UseCanvas" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="CanvasAccessToken"></label>
        <input class="col-md-4" type="password" asp-for="CanvasAccessToken" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="CanvasAccountId"></label>
        <input class="col-md-4" asp-for="CanvasAccountId" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="SmtpHost"></label>
        <input class="col-md-4" asp-for="SmtpHost" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="SmtpUsername"></label>
        <input class="col-md-4" asp-for="SmtpUsername" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="SmtpPassword"></label>
        <input class="col-md-4" asp-for="SmtpPassword" type="password" />
    </div>

    <div class="form-group">
        <label class="col-md-4" asp-for="ParticipantReportCcList"></label>
        <input class="col-md-4" asp-for="ParticipantReportCcList" />
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</form>
