@model List<CanvasClient.Domain.Course>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.Count Courses</div>

<ul>
    @foreach (var item in @Model)
    {
        <li><b>@item.id</b> - @item.course_code : @item.sis_course_id</li>
    }
</ul>
