@model List<CanvasClient.Domain.CalendarEvent>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.Count Courses</div>

<ul>
    @foreach (var item in @Model)
    {
        <li><b>@item.id</b> - @item.title - @item.description</li>
    }
</ul>
