@model List<CanvasClient.Domain.EnrollmentTerm>
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>@Model.Count terms </div>

<ul>
    @foreach (var item in @Model)
    {
        <li>@item.id,@item.name,@item.start_at,@item.end_at)</li>
    }
</ul>
