@model ZoomConnect.Web.Services.Zoom.CachedMeetingModels

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>ssrmeet row count: @ViewData["RowCount"]</p>

<h2>Meetings (@Model.Meetings.Count)</h2>
<ul>
    @foreach (var meeting in Model.Meetings
     .OrderBy(m => m.bannerCourse.crse_numb)
     .ThenBy(m => m.bannerCourse.seq_numb))
    {
        <li>
            @meeting.MeetingName
            (
            @foreach (var otherProf in meeting.otherProfs)
            {
                <span>,</span>
                @otherProf.bannerPerson.last_name
            }
            )
        </li>
    }
</ul>