@model ZoomConnect.Web.ViewModels.SelectedCoursesViewModel
@using ZoomConnect.Web.ViewModels;

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<form asp-controller="Courses" asp-action="@(Model.SelectedCourses == 0 ? "Index" : "Create")" method="POST">

    @await Html.PartialAsync("_Courses", Model)

    <button type="submit" class="btn btn-primary">Find/Create Zoom Meetings</button>
    @if (Model.SelectedCourses > 0)
    {
        <a asp-action="Index"><span class="btn btn-secondary">Cancel</span></a>
    }
    else
    {
        <a asp-action="Modify"><span class="btn btn-secondary">Modify Schedules</span></a>
    }
</form>
